header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

.topnav {
  display: inline-flex;
}

.topnav a{
  color: black;
  margin: 10px;
}

.name{
  margin: 10px;
}

.logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}

.main {
  display: flex;
}

.column.large,
.column.medium,
.column.small {
  display: flex;
}

.column.large {
  width: 630px;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  flex-direction: column;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

section {
  border: 1px solid black;
}
